body {
  font-family: 'Share Tech', sans-serif;
  background-color: #e5e5f7;
  background-image:  linear-gradient(30deg, #9fbcd3 12%, transparent 12.5%, transparent 87%, #9fbcd3 87.5%, #9fbcd3), linear-gradient(150deg, #9fbcd3 12%, transparent 12.5%, transparent 87%, #9fbcd3 87.5%, #9fbcd3), linear-gradient(30deg, #9fbcd3 12%, transparent 12.5%, transparent 87%, #9fbcd3 87.5%, #9fbcd3), linear-gradient(150deg, #9fbcd3 12%, transparent 12.5%, transparent 87%, #9fbcd3 87.5%, #9fbcd3), linear-gradient(60deg, #9fbcd377 25%, transparent 25.5%, transparent 75%, #9fbcd377 75%, #9fbcd377), linear-gradient(60deg, #9fbcd377 25%, transparent 25.5%, transparent 75%, #9fbcd377 75%, #9fbcd377);
  background-size: 20px 35px;
  background-color: rgba(0,0,0,0.1);
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

h1 {
  font-size: 60px;
}

.specialinput {
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 2em;
  height: 0.4em;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

p
{
font-size: 20px;

}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.flex {
    display: flex;
    border: 0.1rem;
    border-style: solid;
    border-color:dimgray;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 2000px;
    height: 500px
}
.dropdown {

  margin: auto;
  width: 50%;
  padding-left: 50px;

}
.items {
   
    align-items: center;
    align-self: auto;
    align-content: center;
}