<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Reddit Data Table</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<a href="{{ url_for('logout') }}"><button class = "button-30">Logout</button></a>
<a href="/index"><button class = "button-30">Home</button></a>
<div>
    <h1 align="center">Reddit Data Table</h1>
</div>
    <div class="flex">
        <canvas class ="canvas", id='canvas' width="1000" height="500"></canvas>
        <canvas class = "canvas", id='canvas2' width="1000" height="500"></canvas>
    </div>
        <script>
            const xyvalues = {{labels | tojson}};
            const entries = Object.entries(xyvalues)
            Object.entries(xyvalues).forEach(([key, value]) => {
                console.log(`${key}: ${value}`)
            })
            
            console.log(Object.entries(xyvalues));
            console.log(xyvalues[0][1]);
            var num_comments = [];
            var id = [];
            var created_utc = [];
            var score = [];
            var url =[];

            for (i = 0; i < 10; i++) {
                num_comments.push(xyvalues[i][3]);
                id.push(xyvalues[i][0]);
                score.push(xyvalues[i][2]);
                created_utc.push(xyvalues[i][4]);
                url.push(xyvalues[i][5])
            }
            console.log(num_comments);
            console.log(id);

            var config1 = {
                type: 'bar',
                data: {
                    labels: id,
                    datasets: [{
                        label: "Most Popular Posts",
                        data: num_comments,
                        fill: true,
                        backgroundColor: "#5c8cf2 ",
                        borderColor: "#eebcde",
                        borderCapStyle: 'butt',
                        borderDash: [5, 5],
                    }]
                },
                options: {
                    responsive: false,
                    legend: {
                        position: 'bottom',
                    },
                    hover: {
                        mode: 'label'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Reddit Post Ids'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 20,
                                stepValue: 1000,
                                max: 20000
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Most Popular Posts'
                    }
                }
            };
            var config2 = {
                type: 'line',
                data: {
                    labels: created_utc,
                    datasets: [{
                        label: "Most Popular Post Times",
                        data: score,
                        fill: false,
                        backgroundColor: "#5c8cf2 ",
                        borderColor: "#5c8cf2",
                        borderCapStyle: 'butt',
                        borderDash: [5, 5],
                    }]
                },
                options: {
                    responsive: false,
                    legend: {
                        position: 'bottom',
                    },
                    hover: {
                        mode: 'label'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Post Created -- (in UTC)'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 30,
                                stepValue: 1000,
                                max: 50000
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Most Popular Times for Posts'
                    }
                }
            };
            var ctx = document.getElementById("canvas").getContext("2d");
            var ctx2 = document.getElementById("canvas2").getContext("2d");        
            new Chart(ctx, config1);
            new Chart(ctx2, config2);
        </script>
    </div>
    <style>
        td {
            width: 300px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <table class = "styled-table">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Title </th>
                <th>Total Score</th>
                <th>Number of Comments</th>
                <th>Created Date</th>
                <th>URL Text</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data1 %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
    </div>
</body>
</html>