<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <title>REDDIT BOT</title>
</head>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
<body>
   
    <a href="{{ url_for('logout') }}"><button class = "button-30">Logout</button></a>

    <div class="dropdown" style="text-align: center;">
        <h1 align="center">Reddit Bot</h1>
        <p align="center"> Simply select from the list of the 10 most popular sub-reddits and input the number of posts you would like to display. 
                               Upon clicking submit will trigger a process to retrieve the data, once this process is complete, click on "View Processed Data" to see the results. 
            Enjoy!
            <br></br><a href="data">
                <button class="button-30" , role="button">View Processed Data</button></a>
        <form action={{url_for('index')}} method="POST">
            <strong>Select Sub-Reddit</strong>
            <div>
                <select class="specialdropdown", type="text" , name="Sub-reddit" , id="subreddits"></select>
            </div>
            <br></br>
            <div>
            <strong>Input the Number of Posts you Want to Display</strong>
            </div>
            <input class="specialinput", type="number" , align="center" ,
                name="records", id="record"/>
            <input class="button-30" type="submit" value="Submit" />
        </form>
        <option placeholder="Sub-reddit", name="subr", id="selected"></option>
        </select>
    </div>
    </p>
    <script>
        var subredditarray = {{ subr | safe}};
        console.log(subredditarray);
        var select = document.getElementById("subreddits")
        for (var i = 0; i < subredditarray.length; i++) {
            var item = subredditarray[i];
            var el = document.createElement("option");
            el.textContent = item;
            el.value = item;
            select.appendChild(el);
        }
    </script>
</body>
</html>